NVIDIA_API_KEY=nvapi
SUPABASE_SERVICE_ROLE_KEY=eyJhbGc.........
SUPABASE_URL=https://yyytdarezxvmcydzlpwd.supabase.co
NVIDIA_EMBEDDING_MODEL=nvidia/llama-3_2-nv-embedqa-1b-v2
NVIDIA_SUMMARY_MODEL=mistralai/mistral-small-3.1-24b-instruct-2503
TAVILY_API_KEY=tvly-....
GITHUB_API_MODEL_KEY=github_p........